
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">


<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>

        body{
            font-family: Hei;
            color: #333;
            padding: 55px;
            line-height: 30px;
        }
        @media (max-width: 600px) {
            body{
                padding: 0px !important;
            }
        }
        p{
            margin: 6px 0px;
            font-size: 21px;
        }
    </style>
</head>

<body>
<br/>
<h1 style="text-align:center;font-size: 29px;font-weight: bold;">班组长进场承诺书</h1>
<br/>
<p style="padding-left: 87px">本人____<span style="text-decoration: underline" >${empName}</span>____（身份证号：____<span style="text-decoration: underline" >${idCode}</span>____）</p>
<p style="padding-left: 55px">是____<span style="text-decoration: underline">${constructionName}</span>____承建____<span style="text-decoration: underline" >${projectName}</span>____项</p>
<p style="padding-left: 55px">目____<span style="text-decoration: underline"></span>____<span style="text-decoration: underline" >${teamName}</span>____班组长。本人已学习和了解本项目部创建</p>
<p style="padding-left: 55px">“项目实名制”活动的具体要求，愿意积极配合开展好工</p>
<p style="padding-left: 55px">作。现就有关事宜郑重承诺如下：</p>
<p style="padding-left: 87px">一、如实登记本人招用的班组工人信息，包括身份信息、</p>
<p style="padding-left: 55px">银行卡号码等，明确招用工人的工资标准，签名后报送公司（</p>
<p style="padding-left: 55px">项目部）备案。</p>
<p style="padding-left: 87px">二、按公司（项目部）规定如实登记班组工人出勤表，确</p>
<p style="padding-left: 87px">认后报送项目部备案，定期报送工资表以供项目部核对确认。</p>
<p style="padding-left: 87px">三、积极配合公司（项目部）如实准确结算班组工人工资</p>
<p style="padding-left: 55px">工人本人使用和保存。临时性用工的工资约定以现金形式支付</p>
<p style="padding-left: 55px">的，经确认后由公司（项目部）直接支付给工人本人。如本人</p>
<p style="padding-left: 87px">提供虚假或错误工资表的，造成的一切责任后果和经济损失均</p>
<p style="padding-left: 87px">由本人承担。</p>
<p style="padding-left: 87px">若公司（项目部）支付给我班组工人的工资款超过本人的</p>
<p style="padding-left: 87px">承包款，超过部分的款项本人愿意在30日内筹集归还项目部，</p>
<p style="padding-left: 87px">否则愿意承担相应法律责任。</p>
<p style="padding-left: 87px">四、通过正当法律渠道依法追讨本人的承包款项，不以任</p>
<p style="padding-left: 55px">何理由教唆组织工人或其他人员借追讨工资名义讨要工程款。</p>
<p style="padding-left: 87px">五、本人与工人发生工资争议时，坚决做到主动处理或积</p>
<p style="padding-left: 55px">极配合公司（项目部）及有关部门调查处理，对工人诉求事项</p>
<p style="padding-left: 55px">负举证责任。一旦出现本人拒不到场配合调查、不提供材料或</p>
<p style="padding-left: 55px">不结算承包款和工资额、不支付工人工资等情形，视同本人认</p>
<p style="padding-left: 55px">可工人的全部诉求，同意认可公司（项目部）及有关部门处理</p>
<p style="padding-left: 55px">意见和决定。</p>
<br/>
<br/>
<table style="width: 500px;text-align: center;">
    <tr>
        <td style="text-align: right;font-size: 21px;">承诺人（签字并加按指印）：</td>
    </tr>
    <tr></tr>
    <tr></tr>
    <tr></tr>
    <tr></tr>
    <tr>
        <td style="text-align: right;font-size: 21px;">____年____月____日</td>
    </tr>
</table>
</body>
</html>